.projectsDiv {
  display: grid;
  grid-template-columns: 2fr 6fr;
  /* overflow: scroll;
  height: 100%; */
}
.projectsImgs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 87vh;
}
.khalekBdarakImg {
  width: 200%;
}
.washMyRideImg {
  margin-bottom: 200px;
}
