*{
    margin: 0;
    padding: 0;
}
#gamePage{
    background-image: url(https://t3.ftcdn.net/jpg/02/70/21/70/360_F_270217079_JhxcnAedqOXr8sHNpbAk7zTAryQitbL2.jpg);
    /* width: 100vw; */
    background-size: 1100px;
    height: 100vh;
    display: grid;
    place-items: center;
}
#homePageButton{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
    padding: 5px;
    background-color: tomato;
    color: white;
    border-radius: 20px;
    z-index: 1001;
    width: 120px;
}
#road{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_VQRx0C_8OtH-fLVg1PJKn03nAnVnK8qjA&usqp=CAU);
    height: 170vh;
    width: 65vw;
    position: relative;
    top: -76.8vh;
}
#start{
    position: absolute;
    top: 60vh;
    left: 47vw;
    z-index: 100;
    font-size: 2rem;
    background-color: tomato;
    color: white;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
#score{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 2rem;
    padding: 5px;
    background-color: tomato;
    color: white;
    border-radius: 20px;
    z-index: 1001;
}
#enemycar1{
    /* display: grid;
    place-items: center; */
    position: relative;
    width: 100px;
    height: 100px;
    left: 150px;
    z-index: 1001;
    /* animation: ecar1 infinite linear 3s; */
}
#enemycar2{
    /* display: grid;
    place-items: center; */
    position: relative;
    width: 80px;
    height: 80px;
    left: 60px;
    z-index: 1001;
    /* animation: ecar2 infinite linear 4s; */
}
#enemycar3{
    /* display: grid;
    place-items: center; */
    position: relative;
    width: 80px;
    height: 80px;
    left: -30px;
    z-index: 1001;
    /* animation: ecar3 infinite linear 6s; */
}
#enemycar4{
    /* display: grid;
    place-items: center; */
    position: relative;
    width: 70px;
    height: 70px;
    left: -120px;
    z-index: 1001;
    /* animation: ecar4 infinite linear 2s; */
}
#mycar{
    width: 100px;
    
    margin: 0;
    position: relative;
    top: 15vh;
    z-index: 1001;
    border: 2px solid red;
}
#mycarimg{
    width: 100px;
    height: 100px;
}
@keyframes ecar1{
    0%{
        top: -100vh;
    }
    100%{
        top: 100vh;
    }
}@keyframes ecar2{
    0%{
        top: -100vh;
    }
    100%{
        top: 100vh;
    }
}@keyframes ecar3{
    0%{
        top: -100vh;
    }
    100%{
        top: 100vh;
    }
}@keyframes ecar4{
    0%{
        top: -100vh;
    }
    100%{
        top: 100vh;
    }
}