
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif ;
}
body{
    overflow: hidden;
}
.container{
    position: relative;
    bottom: 10px;
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh-80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgb(84, 83, 88);

}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: blue;
}
.esme{
display: block;
font-size: 7em;
font-weight: 900;
color: gray;
}
.multiText{
    color: purple;
    text-transform: capitalize;
}
.descreption{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: gray;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
.homeButtons{
outline: none;
border: none;
cursor: pointer;
font-size: 25px;
font-weight: 400;
color: white;
background-color: grey;
letter-spacing: 2px;
padding: 8px 14px;
margin: 40px 5px;
text-transform: capitalize;
box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}
.homeButtons:hover{
    background-color: purple;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%
}
.imgbox img{
    position: relative;
    height: 50%;
    width: 50%;
    top: 100px;
    left: 210px;
    transform: rotateY(180deg);
    animation: animateUser 10s linear infinite;
    border-radius: 25%;
}
@keyframes animateUser{
    50%{
        right: 200px;
        top: -100px;
    }
}
.imgbox #splash{
    position: absolute;
    left: 65%;
    top: 50%;
    height: 190%;
    transform: translate(-50%,-50%) ;
    width: 10%;
    filter: saturate(200%);
    animation: animate 6s linear infinite;
}
@keyframes animate{
    50%{
        /* top: 49%;
        left: 51%; */
        width: 200%;

    }
}