
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif ;
    /* overflow: hidden; */
  }
.container2{
    position: relative;
    bottom: 15px;
    width: 100vw !important;
    /* background-color :black; */
    min-height: 100vh;
    background-size: 100% 100%; 
    background-position: 160px -50px;
    background-repeat: no-repeat;
}
.wrapperAboutMe{
  position: absolute;
  top: 100px;  
display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.imgboxAboutMe img{
    position: relative;
    height: 50%;
    width: 50%;
    top: 120px;
    left: 210px;
    transform: rotateY(180deg);
    animation: animateUser 10s linear infinite;
    border-radius: 50%;
}
.welcome{
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
#photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  width: 550px;
}
.headers{
  color: tomato;
  font-size: 30px;
}
.paragraphs{
  color: black
}
.reactPhoto{
  margin-top: 10px;
  width: 50%;
  height: 70px;
}
.cols0{
  position: relative;
  bottom: 15px;
}

  @keyframes move {
    from {
      left: 800px;
    }
    to {
      left: -800px;
    }
  }
  
  